IAS-QSystemFmt-MQPCF/xsd/pcf.event.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsi:schema 
 xmlns:xsi="http://www.w3.org/2001/XMLSchema" 
 targetNamespace="http://www.invenireaude.com/qsystem/fmt/pcf/event">
 	
  <xsi:complexType name="CommandContext">  		 
    	<xsi:sequence>
			<xsi:element name="EventUserId" type="xsi:string" minOccurs="1" maxOccurs="1" />
			<xsi:element name="EventOrigin" type="xsi:string" minOccurs="1" maxOccurs="1" />
			<xsi:element name="EventQMgr" type="xsi:string" minOccurs="1" maxOccurs="1" />
			<xsi:element name="EventAccountingToken" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="EventIdentityData" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="EventApplType" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="EventApplName" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="EventApplOrigin" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="Command" type="xsi:string" minOccurs="1" maxOccurs="1" />
 	   </xsi:sequence>   		    
    </xsi:complexType>
  
    <xsi:complexType name="CommandData">  		 
    	<xsi:sequence>
			<xsi:element name="AccountingConnOverride" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="AccountingInterval" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="AccountingMqi" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="AccountingQ" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ActiveChannels" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ActiveChlMax" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ActiveChlPaused" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ActiveChlRetry" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ActiveChlStarted" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ActiveChlStopped" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ActiveChl" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ActivityConnOverride" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ActivityRecording" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ActivityTrace" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="AdapsMax" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="AdapsStarted" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="Adapter" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="AdminTopicName" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="AdoptnewmcaCheck" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="AdoptnewmcaInterval" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="AdoptnewmcaType" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="AllocFastTimer" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="AllocRetry" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="AllocSlowTimer" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="AlterationDate" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="AlterationTime" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ApplId" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ApplType" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="Archive" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="AuthInfoConnName" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="AuthInfoDesc" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="AuthInfoName" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="AuthInfoOcspUrl" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="AuthInfoType" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="AuthorityEvent" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="AutoReorganization" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="AutoReorgCatalog" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="AutoReorgInterval" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="AutoReorgStartTime" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="AvailableCipherspecs" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="Backlog" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="BackoutReqQName" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="BackoutThreshold" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="BaseObjectName" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="BaseQName" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="BaseType" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="BatchDataLimit" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="Batches" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="BatchHb" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="BatchInterfaceAuto" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="BatchInterfaceId" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="BatchInterval" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="BatchSizeIndicator" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="BatchSize" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="BridgeEvent" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="BuffersRcvd" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="BuffersReceived" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="BuffersSent" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="BytesRcvd" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="BytesReceived" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="BytesSent" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="CertValPolicy" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="CfCfconlos" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="CfLevel" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="CfOfflduse" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="CfOffloadThreshold1" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="CfOffloadThreshold2" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="CfOffloadThreshold3" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="CfOffload" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="CfRecauto" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="CfRecover" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="CfSmdsBuffers" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="CfStrucDesc" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="CfStrucName" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ChannelAutoDefEvent" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ChannelAutoDefExit" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ChannelAutoDef" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ChannelDisp" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ChannelErrorData" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ChannelEvent" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ChannelInstanceAttrs" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ChannelInstanceType" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ChannelNames" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ChannelName" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ChannelStartDate" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ChannelStartTime" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ChannelStatus" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ChannelSubstate" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ChannelSummaryAttrs" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ChannelTable" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ChannelTypes" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ChannelType" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="Child" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ChinitAdapters" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ChinitControl" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ChinitDispatchers" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ChinitServiceParm" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ChinitTraceAutoStart" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ChinitTraceTableSize" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ChlauthDesc" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ChlauthRecords" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="CicsFileName" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ClientChannelWeight" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ClientId" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ClientUserId" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ClusChlName" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ClusterDate" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ClusterNamelist" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ClusterName" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ClusterQMgrName" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ClusterQType" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ClusterTime" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ClusterWorkloadData" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ClusterWorkloadExit" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ClusterWorkloadLength" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ClwlChannelPriority" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ClwlChannelRank" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ClwlChannelWeight" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ClwlMruChannels" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ClwlQPriority" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ClwlQRank" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ClwlUseq" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="CmdServerAuto" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="CmdServerControl" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="CmdServerConvertMsg" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="CmdServerDlqMsg" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="CodedCharSetId" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="CommandCount" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="CommandEvent" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="CommandInputQName" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="CommandLevel" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="CommandReplyQName" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="CommEvent" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="CommInfoDesc" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="CommInfoName" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="CommInfoType" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="CompressionRate" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="CompressionTime" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ConfigurationEvent" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ConnectionAffinity" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ConnectionNameList" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ConnectionName" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="CpiLevel" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="CreationDate" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="CreationTime" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="CurrentChlLu62" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="CurrentChlMax" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="CurrentChlTcp" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="CurrentChl" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="CurrentLuwid" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="CurrentMsgs" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="CurrentQDepth" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="CurrentSeqNumber" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="CurrentSequenceNumber" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="CurrentSharingConvs" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="Custom" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="DataConversion" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="DataCount" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="DeadLetterQName" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="DefBind" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="DefChannelDisp" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="DefClusterXmitQType" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="DefinitionType" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="DefInputOpenOption" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="DefPersistence" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="DefPriority" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="DefPutResponseType" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="DefReadAhead" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="DefReconnect" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="DefXmitQName" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="Desc" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="DiscInterval" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="DiscRetry" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="DispsMax" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="DispsStarted" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="DistLists" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="DnsGroup" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="DnsWlm" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="DurableSub" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="EncryptionAlgorithm" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="EnvData" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ExitTimeIndicator" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ExpiryInterval" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="FormatName" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="GroupAddress" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="GroupUr" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="HardenGetBackout" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="HbInterval" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="HdrCompression" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="HighQDepth" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="IgqPutAuthority" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="IgqUserId" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="InboundDisp" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="IndexType" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="InDoubtIn" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="InDoubtOut" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="IndoubtStatus" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="InDoubt" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="InhibitEvent" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="InhibitGet" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="InhibitPub" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="InhibitPut" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="InhibitSub" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="InitiationQName" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="InstallationDesc" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="InstallationName" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="InstallationPath" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="IntraGroupQueuing" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="IpAddress" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="IpAddressVersion" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="JaasConfig" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="KeepAliveInterval" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="LastLuwid" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="LastMsgDate" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="LastMsgTime" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="LastSeqNumber" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="LastSequenceNumber" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="LdapPassword" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="LdapUserName" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ListenerControl" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ListenerDesc" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ListenerName" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ListenerPortNumber" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ListenerStartDate" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ListenerStartTime" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ListenerStatus" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ListenerTimer" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="LocalAddress" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="LocalEvent" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="LocalName" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="LoggerEvent" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="LongRetriesLeft" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="LongRetry" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="LongTimer" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="Lu62ArmSuffix" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="Lu62Channels" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="LuGroupName" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="LuName" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="MasterAdmin" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="Match" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="MaxChannels" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="MaxClients" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="MaxGlobalLocks" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="MaxHandles" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="MaxInstances" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="MaxInstsPerClient" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="MaxLocalLocks" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="MaxMsgLength" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="MaxOpenQ" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="MaxPriority" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="MaxPropertiesLength" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="MaxQDepth" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="MaxQTriggers" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="MaxRecoveryTasks" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="MaxResponses" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="MaxSharingConvs" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="MaxUncommittedMsgs" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="MaxXmitSize" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="McaJobName" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="McaName" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="McaStatus" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="McastBridge" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="McaType" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="McaUserIdList" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="McaUserId" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="McHbInterval" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ModelDurableQ" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ModelNonDurableQ" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ModeName" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="MonitoringAutoClussdr" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="MonitoringChannel" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="MonitoringQ" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="MonitorInterval" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="MonitorQName" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="MqttKeepAlive" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="MrCount" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="MrExitName" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="MrExitUserData" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="MrInterval" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="MsgCompression" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="MsgDeliverySequence" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="MsgDeqCount" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="MsgEnqCount" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="MsgExitName" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="MsgExitUserData" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="MsgHistory" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="MsgMarkBrowseInterval" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="MsgSequenceNumber" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="MsgsRcvd" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="MsgsReceived" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="MsgsSent" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="Msgs" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="MulticastProperties" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="Multicast" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="NameCount" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="NamelistDesc" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="NamelistName" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="NamelistType" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="Names" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="NetworkPriority" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="NetworkTimeIndicator" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="NewSubscriberHistory" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="NpmClass" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="NpmDelivery" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="NpmSpeed" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="OpenInputCount" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="OpenOutputCount" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="OutboundPortMax" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="OutboundPortMin" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="PagesetId" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="Parent" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="PassTicketAppl" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="Password" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="PendingOut" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="PerformanceEvent" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="Platform" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="PmDelivery" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="PolicyName" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="PolicyVersion" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="PortNumber" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="Port" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ProcessDesc" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ProcessName" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="PropertyControl" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ProtPolicyCapability" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ProxySub" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="PubCount" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="PubScope" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="PubsubCluster" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="PubsubMaxmsgRetryCount" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="PubsubMode" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="PubsubNpMsg" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="PubsubNpResp" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="PubsubSyncPt" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="PutAuthority" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="QDepthHighEvent" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="QDepthHighLimit" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="QDepthLowEvent" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="QDepthLowLimit" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="QDepthMaxEvent" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="QDesc" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="QmgrCfconlos" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="QMgrDesc" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="QMgrIdentifier" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="QMgrName" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="QmoptConsCommsMsgs" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="QmoptConsCriticalMsgs" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="QmoptConsErrorMsgs" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="QmoptConsInfoMsgs" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="QmoptConsReorgMsgs" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="QmoptConsSystemMsgs" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="QmoptConsWarningMsgs" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="QmoptCsmtOnError" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="QmoptInternalDump" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="QmoptLogCommsMsgs" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="QmoptLogCriticalMsgs" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="QmoptLogErrorMsgs" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="QmoptLogInfoMsgs" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="QmoptLogReorgMsgs" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="QmoptLogSystemMsgs" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="QmoptLogWarningMsgs" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="QmoptTraceComms" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="QmoptTraceConversion" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="QmoptTraceMqiCalls" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="QmoptTraceReorg" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="QmoptTraceSystem" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="QName" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="QServiceIntervalEvent" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="QServiceInterval" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="QsgDisp" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="QsgName" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="QType" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="QUsers" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="RcvExitName" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="RcvExitUserData" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ReadAhead" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ReceiveTimeoutMin" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ReceiveTimeoutType" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ReceiveTimeout" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="RecipientDn" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="RemoteApplTag" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="RemoteEvent" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="RemoteProduct" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="RemoteQMgrName" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="RemoteQName" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="RemoteVersion" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="RepositoryNamelist" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="RepositoryName" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ResetRequested" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ResponseRestartPoint" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ResumeDate" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ResumeTime" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="RetentionInterval" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="Scope" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="SecExitName" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="SecExitUserData" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="SecurityCase" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="SendExitName" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="SendExitUserData" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="SequenceNumberWrap" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ServiceControl" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ServiceDesc" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ServiceName" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ServiceStartArgs" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ServiceStartCommand" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ServiceStopArgs" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ServiceStopCommand" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ServiceType" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="SessionCount" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="Shareability" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="SharedChlRestart" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="SharedQQMgrName" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="SharingConversations" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ShortRetriesLeft" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ShortRetry" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="ShortTimer" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="SignatureAlgorithm" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="SignerDn" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="Socket" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="SslCertIssuerName" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="SslCertUserId" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="SslCipherSpec" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="SslCipherSuite" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="SslClientAuth" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="SslCrlNamelist" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="SslCryptoHardware" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="SslEvent" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="SslFipsRequired" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="SslHandshakeStage" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="SslKeyLibrary" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="SslKeyMember" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="SslKeyPassphrase" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="SslKeyRepository" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="SslKeyResetDate" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="SslKeyResets" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="SslKeyResetTime" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="SslPeerName" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="SslResetCount" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="SslReturnCode" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="SslShortPeerName" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="SsltasksMax" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="SsltasksStarted" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="SslTasks" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="StartStopEvent" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="StatisticsAutoClussdr" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="StatisticsChannel" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="StatisticsInterval" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="StatisticsMqi" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="StatisticsQ" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="StderrDestination" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="StdoutDestination" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="StopRequested" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="StorageClassDesc" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="StorageClass" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="SubConfigurationEvent" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="SubCount" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="SubScope" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="SuiteBStrength" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="Syncpoint" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="SystemLogQName" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="TcpChannels" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="TcpKeepAlive" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="TcpName" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="TcpStackType" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="TimeSinceReset" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="TolerateUnprotected" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="TopicDefPersistence" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="TopicDesc" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="TopicName" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="TopicStringFilter" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="TopicString" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="TopicType" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="TpipeName" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="TpName" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="TraceRouteRecording" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="TreeLifeTime" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="TriggerChannelName" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="TriggerControl" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="TriggerData" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="TriggerDepth" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="TriggerInterval" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="TriggerMsgPriority" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="TriggerProgramName" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="TriggerRestart" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="TriggerTermId" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="TriggerTransId" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="TriggerType" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="UrDisp" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="Usage" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="UseClientId" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="UseDeadLetterQ" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="UserData" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="UserId" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="UserList" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="UserSource" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="Version" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="Warning" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="WildcardOperation" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="XcfGroupName" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="XcfMemberName" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="XmitProtocolType" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="XmitqMsgsAvailable" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="XmitQName" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="XmitqTimeIndicator" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="XrCapability" type="xsi:integer" minOccurs="0" maxOccurs="1" />
			<xsi:element name="XrSslCipherSuites" type="xsi:string" minOccurs="0" maxOccurs="1" />
			<xsi:element name="XrVersion" type="xsi:string" minOccurs="0" maxOccurs="1" />
 		</xsi:sequence>
 	</xsi:complexType>
 </xsi:schema>